@use "../../../abstracts.scss" as *;

.header-wrapper {
   text-align: center;

   h1 {
      padding-bottom: 2rem;
   }

   .border-line {
      position: relative;
      margin: 0 auto;
      background-color: $color-primary;
      width: 10rem;
      height: 1px;
   }

   .white-bg-wrapper {
      background-color: $color-light;
      position: absolute;
      left: 40%;
      top: -15px;
      width: 2.5rem;
      margin: 0 auto;

   }

   .icon-wrapper {
      background-color: $color-primary-50;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      padding-top: .19rem;
      margin-left: 4px;

   }
}